* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;

    width: 100vw;
    height: 50vh;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: greenyellow;

    width: 100vw;
    height: 50vh;
}