* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(/assets/img/fundo-left.jpg) no-repeat;
    background-size: cover;
    width: 30vw;
    height: 100vh;
    box-shadow: inset 3px 3px 4px black;
}

.logo {
    width: 12%;
    background: none;
    display: flex;
    position: absolute;
    top: 65px;
    background-color: rgba(255, 255, 255, 0.447);
    padding: 10px;
    border: 4px solid rgba(60, 109, 164);
    border-radius: 50px;
    box-shadow: 1px 1px 2px black;
    transition: 0.5s ease-in-out;
    margin-top: 10px; 
}

.logo:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 6px black;
}

.titulo {
    display: flex;
    position: absolute;
    top: 25px;
    color: rgb(85, 159, 243);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1.5px 1.5px 2.5px black;

}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 9px;
    margin-top: 10px;
    width: 25vw;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 3px black;
    font-size: 1.4rem;
    font-weight: 600;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    box-shadow: inset 3px 3px 4px black;
}

textarea, .input-text {
    border-radius: 5px;
    text-align:left;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Dark-Light Mode*/

body {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background 0.2s linear;
}


body.dark {
  background: #292c35;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    margin-top: 2rem;

    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #ffcc00;
}

.fa-sun {
    color: #ff9d00;
}

/* Clock */
.clock {
    min-width: 180px;
    min-height: 180px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 600px;
    border: 4px solid rgba(85, 159, 243);;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.782);
    transition: 1.2s ease-in-out;
}

.clock:hover {
    transform: scale(0.9);
}

.number {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    transform: rotate(30deg);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.821);
}

.number-1 {
    transform: rotate(30deg);
}
.number-2 {
    transform: rotate(60deg);
}
.number-3 {
    transform: rotate(90deg);
}
.number-4 {
    transform: rotate(120deg);
}
.number-5 {
    transform: rotate(150deg);
}
.number-6 {
    transform: rotate(180deg);
}
.number-7 {
    transform: rotate(210deg);
}
.number-8 {
    transform: rotate(240deg);
}
.number-9 {
    transform: rotate(270deg);
}
.number-10 {
    transform: rotate(300deg);
}
.number-11 {
    transform: rotate(330deg);
}
.number-12 {
    transform: rotate(360deg);
}

.second-hand {
    width: 3.2px;
    height: 82px;
    background-color: #ffffff;
    position: absolute;
    transform: translate(0, -50%);
    transform-origin: bottom center;
    border-radius: 5px;
    border: 0.01px solid rgba(1, 183, 255, 0.199);
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.782);
}

.minute-hand {
    width: 6px;
    height: 85px;
    background-color: #333;
    position: absolute;
    transform: translate(0, -50%);
    transform-origin: bottom center;
    border-radius: 5px;
    border: 0.02px solid white;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.782);
}

.hour-hand {
    width: 6px;
    height: 60px;
    background-color: #333;
    position: absolute;
    transform: translate(0, -50%);
    transform-origin: bottom center;
    border-radius: 13px;
    border: 0.2px solid white;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.782);
}

.center {
    width: 12px;
    height: 12px;
    border-radius: 22px;
    background-color: #0ea7ee;
    position: absolute;
    border: 2px solid white;
}